<h1>Here are some Smoothie recipe!</h1>

<% @blends.each do |blend| %>
  <div>
    <h4><%= blend.title %></h4>
    <p><%= blend.description %></p>
    <p><%= blend.user_id %></p>
  </div>
<% end %>

<p><%= link_to 'Home', root_path %></p>
